@import "normalize.css";
@import "pets.css";
.pets-header {
  background-color: white;
height: 120px;

}

header {
    position:-webkit-sticky; 
    position:sticky; top:0;
}
header.pets-header {
    padding-bottom: 0px;
    position: sticky;
}
.header-flex.pets-flex {
    padding:30px 30px;
}
.nav-item.pet-item {
    & a {
        color:#545454;
    }
    & p.active {
        color:#292929;
        //styleName: paragraph-l;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
margin-bottom:5px;

    }
}
.pets-line{
    position: static;
left: 0%;
right: 0%;
top: 80.89%;
bottom: 0%;
width:60px;
height: 2px;

/* color-primary */

background: #F1CDB3;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}


.header-title.pets-title {
    color:#545454;
    margin-left:-30px;
}
.header-text.pets-text {
    color:#545454;
    margin-left:-30px;
}
.pets-list {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    row-gap:30px;
    column-gap:40px;
}
.pets-menu {
    background-color:  #F6F6F6;
}
.main-title.title {
 margin:0 auto;
 text-align: center;
 max-width: 400px;
 padding-top:80px;
 padding-bottom: 60px;
}
.button-list {
    background-color: #F6F6F6;
}
.buttons {
    max-width:340px;
    display:flex;
    margin:0 auto;
    gap:20px;
padding-top:70px;
padding-bottom:100px;
}
.header-nav {
    padding-left:30px;
}

.pets-card {
    display:flex;
    flex-direction: column;
    background-color: #FAFAFA;
    gap:27px;
    cursor: pointer;

    transition:0.5s;
}
.pets-card:hover {
    background-color: #F1CDB3;

 .card-btn {
    background:#FDDCC4;
   
 
 }
}
.card-name {
    font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
text-align: center;
& p {
    margin:0px;
    padding:0px;
}
    


}
.card-btn {
    transition:0.5s;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom:30px;
    border: 2px solid #F1CDB3;
box-sizing: border-box;
border-radius: 100px;
display: flex;
flex-direction: column;
align-items: center;
padding: 15px 45px;
background-color: #FAFAFA;
    font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.06em;
text-align: left;

}
@media (max-width:1280px) {
    .pets-list {
        .friends-card:nth-child(3) {
        display: flex;
       
    }
    .friends-card:nth-child(4) {
        display: flex;
       
    }
    justify-content: center;
}
}
@media (max-width:1220px) {
    .pets-list {
        justify-content: center;
        
    }
}

@media (max-width:768px) {
    .header-flex.pets-flex {
        padding: 30px 10px 0px 40px;
    }
    .main-title.title {
        padding-bottom:30px;
    }
    .buttons {
        padding-top:40px;
        padding-bottom:75px;
    }
    .pets-list {
        .friends-card:nth-child(1) {
        display: flex;
       
    }
}

    .friends-card:nth-child(2){
        display:flex;
    }
    .friends-card:nth-child(5){
        display:flex;
    }
}
@media (max-width: 720px) {


.header-nav.pets-nav {
    display: none;
}
}
@media (max-width:360px) {
    .buttons {
        gap:5px;
      max-width:280px;
    }
   
}
@media (max-width:320px) {
    .buttons {
        max-width:310px;
        gap:10px;
        margin-left:10px;
        padding-bottom:40px;
        
    }
    .container.pets {
        padding:0px;
    }
    .pets-card:nth-child(4) {
        display:flex;
    }
    .pets-card:nth-child(5) {
        display:flex;
    }
    .pets-card:nth-child(6) {
        display:flex;
    }
    .main-title.title {
        padding-top:40px;
        padding-left:5px;
        padding-bottom:40px;
    }
}
@media (max-width:1280px) {
    header {
       
        position:static;
    }
    header.pets-header {
        padding-bottom: 0px;
        position:static;
    }
}
.burger-menu_lines.pets-burger::before,
.burger-menu_lines.pets-burger::after,
.burger-menu_lines.pets-burger {
   
    position: absolute;
    width: 30px;
    height: 1.5px;
    background-color: black;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_active.pets .burger-menu_lines.pets-burger {
    //top: 0;  
    transform: rotate(90deg);
   right:12px;
  background-color: white;
    
}
.burger-menu_active.pets .burger-menu_lines.pets-burger::before {
    background-color: white;
}
.burger-menu_active.pets .burger-menu_lines.pets-burger::after {
    background-color: white;
}
.stick-current {
    width:20px;
    height:20px;
}
.stick-on {
cursor:pointer;
}
.stick-off {
    pointer-events: none;
}
.pets__stick {
    font-size: 20px;
    font-family: "Georgia";
    text-align: center;
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: transparent; 
    border: 2px solid #F1CDB3;
}
.stick-current {
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3;
}
.stick-off {
    pointer-events: none;
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
}